/* Cappuccino Color Palette */

.jumbotron {
  background: #fff4e6;
  color: #3c2f2f; 
  background-size: cover;
  font-family: 'Quicksand';
  text-align: center;
  margin: 0 auto;
}

.jumbo-head {
  font-size: 3.5em;
  font-weight: 200;
  letter-spacing: .8px;
  padding-top: 50px;
  margin-top: 0;
}

.tagline {
  font-size: 1.2em;
}

.btn {
  font-family: 'Quicksand';
  font-size: 1.1em;
  letter-spacing: .6px;
  padding: 5px 15px 8px;
  margin: 15px 5px 30px;
  background: #854442;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background .4s ease-out, box-shadow .4s ease-out;
}

.btn:hover {
  cursor: pointer;
  background: #4b3832;
  box-shadow: 0 0 5px rgba(60,47,47,.8)
}